<template>
  <article class="scene">
    <!-- hero -->
    <scene-hero
      :heroHeading="heroHeading"
      :heroImage="heroImage"
      :desktopText="desktopText"
    >
      <slot />
    </scene-hero>
    <!-- gallery -->
    <section-gallery :directory="directory" :galleryType="galleryType" />
  </article>
</template>

<script>
import SectionHero from "@/components/general/SectionHero.vue";
import SectionGallery from "@/components/general/SectionGallery.vue";
export default {
  components: {
    sceneHero: SectionHero,
    SectionGallery
  },
  props: {
    heroHeading: {
      required: true,
      type: String
    },
    heroImage: {
      type: String
    },
    directory: {
      type: String
      // required: true
    },
    galleryType: {
      type: [Number, String]
    },
    desktopText: {
      type: String,
      default: "left"
    }
  }
};
</script>

<style lang="scss" scoped></style>
