<template>
  <div class="hef-ceremony">

    <!-- Gallery: Jeff/sponsors -->
    <section-gallery2
      type="c1"
      class="hef-ceremony__gallery1"
      :images="[
        'moms.jpg',
        'jeff.jpg',
        'sponsors1.jpg',
        'sponsors2.jpg',
        'sponsors3.jpg'
      ]"
      directory="ceremony/gallery1/"
    />

    <!-- Hero: Chris -->
    <section-hero
      heroHeading="Stay Composed"
      heroImage="ceremony/chris.jpg"
    >
      <p>The day was going by pretty fast. I was super nervous, especially once the music started playing. My parents requested to walk down with me per the Filipino tradition, which caught me by surprise as we didn't practice that yesterday. I was bracing myself not to tear, but the music and my bride got the best of me.</p>
    </section-hero>

    <!-- Gallery: Bridesmaids/groomsmen -->
    <section-gallery2
      type="c2"
      class="hef-ceremony__gallery2"
      :images="[
        '01-ches-chel.jpg',
        '02-mel-aireen.jpg',
        '03-caroline-jeremy.jpg',
        '04-marco-jamie.jpg',
        '05-wilbert-ava.jpg',
        '06-christine.jpg'
      ]"
      directory="ceremony/gallery2/"
    />

    <!-- Hero: Nes -->
    <section-hero
      heroHeading="Stunning"
      heroImage="ceremony/nes.jpg"
    >
      <p>The dramatization of the music really turned this up a notch. I told myself I wouldn't tear, but Ernestine's wish was to see me tear. I couldn't help myself. Watching my beautiful soon-to-be wife walking down the aisle was magical.</p>
    </section-hero>

    <!-- Gallery: More -->
    <section-gallery2
      type="c3"
      class="hef-ceremony__gallery3"
      :images="[
        '1-priest.jpg',
        '2-nate.jpg',
        '3-auntie.jpg',
        '4-bern.jpg',
        '5-us.jpg',
        '6-candle.jpg',
        '7-us.jpg',
      ]"
      directory="ceremony/gallery3/"
    />

  </div>
</template>

<script>
import SectionHero from '@/components/general/SectionHero.vue';
import SectionGallery2 from "@/components/general/SectionGallery2.vue";
export default {
  components: {
    SectionGallery2,
    SectionHero,
  }
};
</script>

<style lang="scss" scoped>
.hef-ceremony > * {
  margin-bottom: var(--basePadding);
}
</style>
