<template>
  <footer class="hef-footer">
    #happilyeverferrer
  </footer>
</template>
<style lang="scss" scoped>
.hef-footer {
  padding: var(--basePadding);
  background: var(--primary);
  font-size: 1.5rem;
  text-align: center;
  color: var(--white);
}
</style>
