<template>
  <section class="hef-snaps">
    <!-- Gallery: Snaps -->
    <section-gallery2
      type="s1"
      class="hef-snaps__gallery"
      :images="[
        '1.jpg',
        '2.jpg',
        '3.jpg',
        '4.jpg',
        '5.jpg',
        '6.jpg',
        '7.jpg',
      ]"
      directory="snaps/"
    />
  </section>
</template>

<script>
import SectionGallery2 from "@/components/general/SectionGallery2.vue";
export default {
  components: {
    SectionGallery2,
  }
};
</script>

<style lang="scss" scoped>
</style>