<template>
  <figure class="hef-group">
    <img class="hef-group__image" src="~assets/reception/group_l.jpg" alt="Happily ever ferrer">
    <figcaption class="hef-group__caption"><logo /></figcaption>
  </figure>
</template>

<script>
import Logo from '@/components/general/Logo.vue';
  export default {
    components: {
      Logo
    }
  }
</script>

<style lang="scss" scoped>
  .hef-group {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
  }
  .hef-group__image {
    width: 100%;
  }
  .hef-group__image,
  .hef-group__caption {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }
  .hef-group__caption {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .hef-group__caption svg {
    width: 40vw;
    margin: 0 auto var(--basePadding);
    height: auto;

  }
</style>