<template>
  <section class="hef-reception">

    <!-- Gallery1: Entrance -->
    <section-gallery2
      type="r1"
      class="hef-reception__gallery1"
      :images="[
        '01.jpg',
        '02.jpg',
        '03.jpg',
        '04.jpg',
        '05.jpg',
        '06.jpg',
        '07.jpg',
        '08.jpg',
        '09.jpg',
        '10.jpg',
        '11.jpg',
        '12.jpg',
      ]"
      directory="reception/gallery1/"
    />

    <!-- Hero: First Dance -->
    <section-hero
      heroHeading="First Dance"
      heroImage="reception/firstdance.jpg"
    >
      <p>Spotlight on us! The center of attention. The song we chose was a cover of Elvis' "I can't help falling in love with you" by Haley Reinhart. The funny story about that is first heard the song in the background of a gum commercial. When we both heard it, we just knew that was it.</p>
    </section-hero>

    <!-- Gallery2: Speeches -->
    <section-gallery2
      type="r2"
      class="hef-reception__gallery2"
      :images="[
        '01.jpg',
        '02.jpg',
        '03.jpg',
        '04.jpg',
      ]"
      directory="reception/gallery2/"
    />

    <!-- Hero: Toast -->
    <section-hero
      heroHeading="Last Toast"
      heroImage="reception/toast.jpg"
    >
      <p>After some amazing speeches from our parent's, as well as the Maid-of-Honor and Best-man, it was our time to make our speech as a new couple. Don't mind my asian glow.</p>
    </section-hero>

    <!-- Gallery3: Dance -->
    <section-gallery2
      type="r3"
      class="hef-reception__gallery3"
      :images="[
        '01.jpg',
        '02.jpg',
        '03.jpg',
        '04.jpg',
      ]"
      directory="reception/gallery3/"
    />

    <!-- Hero: Cake -->
    <section-hero
      heroHeading="Cake Time"
      heroImage="reception/cake.jpg"
    >
      <p>The cake was delicious! We couldn't believe how much was left over though. We still haven't gotten around to eating it 1 year later.</p>
    </section-hero>

    <!-- Gallery3: Dance -->
    <section-gallery2
      type="r4"
      class="hef-reception__gallery4"
      :images="[
        '01.jpg',
        '02.jpg',
        '03.jpg',
        '04.jpg',
      ]"
      directory="reception/gallery4/"
    />

  </section>
</template>

<script>
import SectionHero from '@/components/general/SectionHero.vue';
import SectionGallery2 from "@/components/general/SectionGallery2.vue";
export default {
  components: {
    SectionGallery2,
    SectionHero,
  }
};
</script>

<style lang="scss" scoped>
.hef-reception > * {
  margin-bottom: var(--basePadding);
}
</style>