@import "vars";
@import "mixins";

// General
.photo-gal {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  position: relative;
  z-index: 12;
  width: 90vw;
  margin: 0 auto;
}
.photo-gal__img {
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

// Gallery 1 (snaps)
.photo-gal__item--s1:nth-child(1),
.photo-gal__item--s1:nth-child(2),
.photo-gal__item--s1:nth-child(7) {
  grid-column: span 2;
}
@include tablet {
  .photo-gal--s1 {
    grid-template-columns: repeat(4, 1fr);
  }
  .photo-gal__item--s1:nth-child(7) {
    grid-column: 1/-1
  }
}

// Ceremony 1
.photo-gal--c1 {
  grid-template-columns: repeat(3, 1fr);
}
.photo-gal__item--c1:nth-child(1) {
  grid-column: 1 / span 1;
}
.photo-gal__item--c1:nth-child(2) {
  grid-column: 2 / span 2;
}

// Ceremony 2
.photo-gal--c2 {
  @include tablet {
    grid-template-columns: repeat(4, 1fr);
  }
}
@include tablet {
  .photo-gal__item--c2 {
    position: relative;
  }
  .photo-gal__item--c2::before {
    content:'';
    display: block;
    padding-top: calc((943/950) * 100%;)
  }
  .photo-gal__img--c2 {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  .photo-gal__item--c2:nth-child(1) {
    top:-15vh;
  }
  .photo-gal__item--c2:nth-child(2) {
    top:-10vh;
  }
  .photo-gal__item--c2:nth-child(3) {
    top:-5vh;
  }
  .photo-gal__item--c2:nth-child(5) {
    top: -15vh;
  }
  .photo-gal__item--c2:nth-child(6) {
    // grid-area: p6;
    top: -10vh;
  }
}


// Ceremony 3
.photo-gal__item--c3:nth-child(5) {
  grid-row: span 2;
}

@include tablet {
  .photo-gal--c3 {
    grid-template-columns: repeat(4, 1fr);
  }
  .photo-gal__item--c3:nth-child(5) {
    grid-row: span 2;
    grid-column: span 2;
  }
  .photo-gal__item--c3:nth-child(6),
  .photo-gal__item--c3:nth-child(7) {
    grid-column: span 2;
  }
}

// Reception 1
@include tablet {
  .photo-gal--r1 {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: dense;
    grid-template-areas:
    "p1 p1 p1 .. .. .."
    "p1 p1 p1 p2 p2 p2"
    ".. .. .. p2 p2 p2"
  }
  .photo-gal__item--r1:nth-child(1) {
    grid-area: p1
  }

  .photo-gal__item--r1:nth-child(2) {
    grid-area: p2;
  }
  .photo-gal__item--r1:nth-child(6) {
    grid-column: span 3;
  }
  .photo-gal__item--r1:nth-child(7) {
    grid-column: span 2;
  }
  .photo-gal__item--r1:nth-child(8) {
    grid-column: span 2;
  }
  .photo-gal__item--r1:nth-child(11) {
    grid-column: span 2;
    order: 1;
  }
  .photo-gal__item--r1:nth-child(9) {
    order: 2;
    grid-column: span 2;
  }
  .photo-gal__item--r1:nth-child(10) {
    order: 4;
    grid-column: span 2;
  }
  .photo-gal__item--r1:nth-child(12) {
    grid-column: span 4;
    grid-row: span 2;
    order: 3;
  }
}

// Reception 2
@include tablet {
  .photo-gal--r2 {
    grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(4, 10vh);
    padding-bottom: 40vh;
  }
  .photo-gal__item--r2 {
    position: relative;
  }
  .photo-gal__item--r2:nth-child(2) {
    top: 10vh;
  }
  .photo-gal__item--r2:nth-child(3) {
    top: 20vh;
  }
  .photo-gal__item--r2:nth-child(4) {
    top: 30vh;
  }
}
// Reception 4
@include tablet {
  .photo-gal--r4 {
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 40vh;
  }
  .photo-gal__item--r4 {
    position: relative;
  }
  .photo-gal__item--r4:nth-child(2) {
    top: 10vh;
  }
  .photo-gal__item--r4:nth-child(3) {
    top: 20vh;
  }
  .photo-gal__item--r4:nth-child(4) {
    top: 30vh;
  }
}