// Media Queries
@mixin landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}
@mixin portrait {
  @media screen and (orientation: portrait) {
    @content;
  }
}
@mixin tabLandscape {
  @media screen and (orientation: landscape) and (min-device-width: 800px) and (max-device-width: 1200px) {
    @content;
  }
}
@mixin tabPortrait {
  @media screen and (orientation: portrait) and (min-width: 600px) {
    @content;
  }
}
@mixin base2x {
  @media screen and (-webkit-min-device-pixel-ratio: 1.5),
    screen and (-o-min-device-pixel-ratio: 3/2),
    screen and (min--moz-device-pixel-ratio: 1.5),
    screen and (min-device-pixel-ratio: 1.5) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$tablet}) {
    @content;
  }
}
@mixin tablet2x {
  @media screen and (min-width: #{$tablet}) and (-webkit-min-device-pixel-ratio : 1.5),
  screen and (min-width: #{$tablet}) and (-o-min-device-pixel-ratio: 3/2),
  screen and (min-width: #{$tablet}) and (min--moz-device-pixel-ratio: 1.5),
  screen and (min-width: #{$tablet}) and (min-device-pixel-ratio: 1.5) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: #{$laptop}) {
    @content;
  }
}

@mixin laptop2x {
  @media screen and (min-width: #{$laptop}) and (-webkit-min-device-pixel-ratio : 1.5),
  screen and (min-width: #{$laptop}) and (-o-min-device-pixel-ratio: 3/2),
  screen and (min-width: #{$laptop}) and (min--moz-device-pixel-ratio: 1.5),
  screen and (min-width: #{$laptop}) and (min-device-pixel-ratio: 1.5) {
    @content;
  }
}

@mixin hd {
  @media screen and (min-width: #{$hd}) {
    @content;
  }
}

@mixin qhd {
  @media screen and (min-width: #{$qhd}) {
    @content;
  }
}

// alignment
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flexCenterCol {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// misc
.whitefade {
  height: 10rem;
  content: "";
  position: absolute;
  width: 100%;
  z-index: 11;
  display: block;
}
@mixin whiteFade {
  @extend .whitefade;
  top: 100%;
  background: linear-gradient(to bottom, var(--white), transparent);
}
@mixin whiteFadeBefore {
  @extend .whitefade;
  bottom: 100%;
  background: linear-gradient(to top, var(--white), transparent);
}
