@import "vars";
@import "mixins";

.scene,
.hef-ceremony {
  padding-bottom: var(--basePadding3x);
  position: relative;
  &::after {
    @include whiteFade;
  }
  &::before {
    @include whiteFadeBefore;
  }
}
