html {
  font-size: 62.5%;
  color: var(--mid2);
}
body {
  font-family: "Nunito Sans", "Lora", "Helvetica Neue", Helvetica, "Segoe UI",
    "Roboto", Arial, sans-serif;
  letter-spacing: -0.05rem;
  font-weight: 300;
}
h1,
h2,
h3 {
  font-family: "Niconne", script;
  font-weight: 400;
  letter-spacing: unset;
}
h1 {
  font-size: 6em;
}
h2 {
  font-size: 5em;
}
h3 {
  font-size: 4em;
}
h4 {
  font-size: 1.8em;
}
h5 {
  font-size: 1.5em;
}
h6 {
  font-size: 1.2em;
}
p {
  font-size: 1.6em;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 2rem;
  }
  p {
    font-size: 2rem;
  }
}
