// media queries
$tablet: 1024px;
$laptop: 1240px;
$hd: 1880px;
$qhd: 2500px;

// Colors
:root {
  --primary: #98c2c2;
  --white: #fff;
  --dark1: #333;
  --dark2: #222;
  --dark3: #111;
  --light1: #f4f4f4;
  --light2: #eee;
  --light3: #ddd;
  --mid1: #aaa;
  --mid2: #666;
  --mid3: #999;
}

// padding
:root {
  --basePadding: 2rem;
  --basePadding2x: calc(var(--basePadding) * 2);
  --basePadding3x: calc(var(--basePadding) * 3);
  --basePaddingHalf: calc(var(--basePadding) / 2);
  --basePaddingFourth: calc(var(--basePadding) / 4);
  --basePaddingThird: calc(var(--basePadding) / 3);
}
