<template>
  <header class="hef-intro">
    <h1 class="hef-intro__title"><slot /></h1>
    <text-spread v-if="date" class="hef-intro__date" color="white">{{
      date
    }}</text-spread>
  </header>
</template>

<script>
import TextSpread from "@/components/general/TextSpread.vue";
export default {
  components: {
    TextSpread
  },
  props: {
    date: {
      type: String
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/_vars.scss";
@import "~/assets/scss/_mixins.scss";
.hef-intro {
  height: 100vh;
  padding: 2rem;
  background: url("~assets/intro/hef_splash_m.jpg") var(--dark1);
  background-size: cover;
  
  background-position: top center;
  @include flexCenterCol;
  @include base2x {
    background-image: url(~assets/intro/hef_splash_m@2x.jpg);
  }
  @include tablet {
    background-image: url(~assets/intro/hef_splash.jpg);
    height: auto !important;
    min-height: 100vh;
    background-attachment: fixed;
  }
  @include tablet2x {
    background-image: url(~assets/intro/hef_splash@2x.jpg);
  }
  @include laptop {
  }
}
</style>
