<template>
  <aside
    tabindex="0"
    @keydown.esc="console.log('hi')"
    @click="closeModal"
    class="modal-wrap"
    :class="modalOpen ? 'open' : ''"
  >
    <div class="modal">
      <slot />
    </div>
  </aside>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  computed: {
    ...mapGetters({
      modalOpen: "modal/isModalOpen"
    })
  },
  methods: {
    closeModal(event) {
      // console.log(event);
      if (event.target == event.currentTarget) {
        this.$store.dispatch("modal/closeModal");
      }
    },
    escKey() {
      if (event.keyCode === 27) {
        this.$store.dispatch("modal/closeModal");
      }
    }
  },
  mounted() {
    document.addEventListener("keydown", this.escKey);
  },
  beforeDestroy() {
    document.removeEventListener("keydown", this.escKey);
  }
};
</script>

<style scoped>
.modal-wrap {
  pointer-events: none;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  transition: 0.3s ease;
  top: 0;
  left: 0;
  z-index: 98;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2rem;
}
.modal {
  pointer-events: none;
  position: relative;
  z-index: 99;
  cursor: default;
  transform: translate3d(0, -4rem, 0);
  transition: 0.8s ease;
  opacity: 0;
  transition-delay: 0.3s;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  border-radius: 15px;
}
.open .modal {
  pointer-events: unset;
  transform: translate3d(0, -0rem, 0);
  opacity: 1;
}
.open.modal-wrap {
  pointer-events: unset;
  opacity: 1;
}
</style>