<template>
  <aside v-if="modalImg.length > 0" class="modal-img-wrap">
    <img :src="modalImg" :alt="altText" />
  </aside>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  props: {
    altText: {
      type: String,
      default: "image"
    }
  },
  computed: {
    ...mapGetters({
      modalImg: "modal/modalImgUrl"
    })
  }
};
</script>

<style scoped>
.modal-img-wrap {
  height: 100%;
}
.modal img {
  max-height: 100%;
  border-radius: 15px;
}
</style>