<template>
  <div class="pbooth">
    <div class="pbooth__item" v-for="(pic, index) in shuffleArr" :key="index">
      <pbooth-img v-if="index < 155" class="pbooth__image" :index="index" :pic="pic" />
    </div>
  </div>
</template>

<script>
import PhotoBoothImg from "@/components/PhotoBoothImg.vue";
export default {
  components: {
    pboothImg: PhotoBoothImg
  },
  data() {
    return {
      images: []
    };
  },
  created() {
    this.importAll(
      require.context("../assets/photobooth/resized/", true, /\.jpg$/)
    );
  },
  computed: {
    shuffleArr() {
      const a = this.images;
      var j, x, i;
      for (i = a.length - 1; i > 0; i--) {
        j = Math.floor(Math.random() * (i + 1));
        x = a[i];
        a[i] = a[j];
        a[j] = x;
      }
      return a;
    }
  },
  methods: {
    importAll(r) {
      r.keys().forEach(key =>
        this.images.push({ pathLong: r(key), pathShort: key })
      );
    }
  }
};
</script>

<style scoped>
.pbooth {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  /* scroll-snap-type: x mandatory;
  scroll-padding: 50%; */
}
.pbooth__item {
  height: 100%;
  display: block;
  width: 90vw;
  min-width: 90vw;
  /* scroll-snap-align: center; */
}
@media screen and (min-width: 768px) {
  .pbooth {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: unset;
    grid-gap: .5rem;
    overflow-x: hidden;
  }
  .pbooth__item {
    min-width: unset;
    width: 100%;
  }
}
</style>