<template>
  <figure class="pbooth-img-wrap">
    <img
      class="pbooth-img"
      :class="index < 4 ? 'loaded' : 'lazy'"
      :data-src="pic.pathLong"
      :src="index < 4 ? pic.pathLong : 'placeholder'"
      alt="Lovely Photobooth Image"
      @click="modalImgUrl(pic.pathLong)"
    />
  </figure>
</template>

<script>
import { utilObserver } from "~/mixins/utils.js";
import { mapState, mapActions, mapGetters } from "vuex";
export default {
  mixins: [utilObserver],
  props: {
    index: {
      type: Number,
      required: true
    },
    pic: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters({
      modalOpen: "modal/isModalOpen"
    })
  },
  methods: {
    // modalImgUrl(imgUrl) {
    //   this.$store.dispatch("modal/addImg", imgUrl);
    // },
    ...mapActions({
      modalImgUrl: "modal/addImg",
      closeModal: "modal/closeModal"
    })
  },
  mounted() {
    this.runObserver(".lazy", [0, 0.25]);
  }
};
</script>

<style scoped>
.pbooth-img-wrap {
  height: 100%;
  position: relative;
  display: grid;
}
.pbooth-img-wrap::before {
  content: "";
  display: block;
  padding-top: calc((900 / 600) * 100%);
  width: 100%;
  background: var(--primary) url("~assets/general/hef_logo.svg") center center no-repeat;
  background-size: 50%;
  grid-column: 1/-1;
  grid-row: 1/-1;
}
.pbooth-img {
  display: block;
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: 100%;
  transition: 0.8s ease all;
  opacity: 0;
  transform: translateY(6rem);
  /* transform: translateX(-6rem) rotate(-5deg) scale(0.8); */
  z-index: 2;
  cursor: pointer;
}
.pbooth-img.loaded {
  opacity: 1;
  transform: translateY(0);
  /* transform: translateX(0) rotate(0) scale(1); */
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .pbooth-img-wrap {
    transition: 0.5s ease;
  }
  .pbooth-img-wrap:hover {
    transform: scale(1.05);
  }

  .pbooth__item:nth-child(4n) .pbooth-img {
    transition-delay: 0.9s;
  }
  .pbooth__item:nth-child(4n-1) .pbooth-img {
    transition-delay: 0.6s;
  }
  .pbooth__item:nth-child(4n-2) .pbooth-img {
    transition-delay: 0.3s;
  }
  .pbooth__item:nth-child(4n-3) .pbooth-img {
  }
}
</style>
