<template>
  <div class="container" :class="ready ? 'loaded':'hi'">
    <div class="loader" :class="ready ? 'loaded':'hi'">
      <hef-loader />
      <hef-logo class="loader__svg" />
    </div>
    <nuxt class="main" :class="ready ? 'loaded':'hi'" />
  </div>
</template>

<script>
import Logo from "@/components/general/Logo";
import Loader from "@/components/general/Loader";
export default {
  components: {
    hefLogo: Logo,
    hefLoader: Loader
  },
  data() {
    return {
      ready: false
    };
  },
  created() {
    window.addEventListener("load", this.onWindowLoad);
  },
  methods: {
    onWindowLoad() {
      console.log("window load event");
      this.ready = true;
    }
  }
};
</script>

<style scoped>
.loader {
  opacity: 1;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transition: 1s ease;
  background: #98c2c2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
  text-align: center;
}
.loader__svg {
  max-width: 300px;
  margin: 0 auto;
}
.loader.loaded {
  opacity: 0;
  pointer-events: none;
}
.main {
  pointer-events: none;
  overflow: hidden;
}
.main.loaded {
  pointer-events: unset;
  overflow: unset;
}
/* .main {
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease all;
}
.main.loaded {
  opacity: 1;
  pointer-events: unset;
} */
.container {
  overflow: hidden;
  height: 100vh;
}
.container.loaded {
  overflow: unset;
  height: auto;
}
</style>