<template>
  <div class="hef">
  <!-- <div class="hef" :class="ready ? 'hello':'hi'"> -->
    <!-- Header -->
    <hef-hdr
      class="hef__hdr"
      date="April 02, 2016"
      :style="'height:' + siteHeight"
    >
      <hef-logo class="hef-intro__logo" />
    </hef-hdr>

    <!-- Intro: Behind the Scenes -->
    <hef-section-intro
      :style="'height:' + siteHeight"
      class="hef__intro hef__intro--behind"
      title="Behind the Scenes"
      subtitle="Today's the big day!"
      lead="Anticipation"
    />

    <!-- Content: Behind Nes -->
    <hef-behind
      class="hef__behind hef__behind--nes"
      heroHeading="Beautiful Bride"
      heroImage="behind_nes/hero_m.jpg"
      galleryType="1"
    >
      <p>
        Look at them having the time of their lives getting ready for our big day. It doesn't even seem like she was nervous like I was.
      </p>
    </hef-behind>

    <!-- Content: Behind Chris -->
    <hef-behind
      class="hef__behind hef__behind--chris"
      heroHeading="Look My Best"
      heroImage="behind_chris/hero_m.jpg"
      galleryType="2"
      desktopText="right"
    >
      <p>
        It was odd for me to get ready with a bunch of other people in the room. I knew I had to try and look my best, and my guys kept me in check. The time in this room felt like an eternity though, haha.
      </p>
    </hef-behind>

    <!-- Intro: Wedding Ceremony -->
    <hef-section-intro
      :style="'height:' + siteHeight"
      class="hef__intro hef__intro--ceremony"
      title="Wedding Ceremony"
      subtitle="It's actually happening"
      lead="The Feels"
    />

    <!-- Content: Ceremony -->
    <hef-ceremony />

    <!-- Intro: Snapshots -->
    <hef-section-intro
      :style="'height:' + siteHeight"
      class="hef__intro hef__intro--snaps"
      title="Snapshots"
      subtitle="Models for the day"
      lead="Look Natural"
    />

    <!-- Content: Snapshots -->
    <hef-snaps />

    <!-- Intro: Reception -->
    <hef-section-intro
      :style="'height:' + siteHeight"
      class="hef__intro hef__intro--reception"
      title="Reception"
      subtitle="I can't help falling in love with you"
      lead="But"
    />

    <!-- Content: Reception -->
    <hef-reception />

    <!-- Content: Group Photo -->
    <hef-group />

    <!-- Intro: Photobooth -->
    <hef-section-intro
      :style="'height:' + siteHeight"
      class="hef__intro hef__intro--pbooth"
      title="Photobooth"
      subtitle="Thanks for celbrating with us"
      lead="Your Pics"
    />

    <!-- Photobooth -->
    <hef-photobooth class="hef__pbooth" />

    <!-- Intro: Video -->
    <!-- <hef-section-intro
      :style="'height:' + siteHeight"
      class="hef__intro hef__intro--pbooth"
      title="Wedding Video"
      subtitle="Relive the day"
      lead="XO"
    /> -->

    <!-- Video -->
    <hef-video videoID="zEW5aLlHlUI" />

    <!-- Footer -->
    <hef-footer />

    <!-- Modal -->
    <hef-modal>
      <hef-modal-img />
    </hef-modal>
  </div>
</template>

<script>
import Logo from "@/components/general/Logo";
import PhotoBooth from "@/components/PhotoBooth";
import Hdr from "@/components/Hdr";
import Modal from "@/components/Modal";
import ModalImg from "@/components/ModalImg";
import SectionIntro from "@/components/general/SectionIntro";
import Footer from "@/components/sections/Footer.vue";
import Behind from "@/components/sections/Behind.vue";
import Ceremony from "@/components/sections/Ceremony.vue";
import Video from "@/components/general/Video.vue";
import Group from "@/components/sections/Group.vue";
import Reception from "@/components/sections/Reception.vue";
import GroupPhotos from "@/components/sections/GroupPhotos.vue";
import { getWindowHeight } from "@/mixins/utils.js";
export default {
  mixins: [getWindowHeight],
  components: {
    hefHdr: Hdr,
    hefPhotobooth: PhotoBooth,
    hefModal: Modal,
    hefSectionIntro: SectionIntro,
    hefModalImg: ModalImg,
    hefLogo: Logo,
    hefSnaps: GroupPhotos,
    hefReception: Reception,
    hefGroup: Group,
    hefVideo: Video,
    hefCeremony: Ceremony,
    hefBehind: Behind,
    hefFooter: Footer
  },
  // data() {
  //   return {
  //     ready: false
  //   }
  // },
  // mounted() {
  //   window.onNuxtReady((app) => {
  //     console.log('Nuxt ready!')
  //     this.ready = true
  //   })
  // }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/_vars.scss";
@import "~/assets/scss/_mixins.scss";
.hef__intro--behind {
  --bgImage: url("~assets/intros/behind_m.jpg");
  @include tablet {
    --bgImage: url("~assets/intros/behind.jpg");
  }
}
.hef__intro--ceremony {
  --bgImage: url("~assets/intros/ceremony_m.jpg");
  @include tablet {
    --bgImage: url("~assets/intros/ceremony.jpg");
  }
}
.hef__intro--snaps {
  --bgImage: url("~assets/intros/snaps_m.jpg");
  @include tablet {
    --bgImage: url("~assets/intros/snaps.jpg");
  }
}
.hef__intro--reception {
  --bgImage: url("~assets/intros/reception_m.jpg");
  @include tablet {
    --bgImage: url("~assets/intros/reception.jpg");
  }
}
// .hef__intro--pbooth {
//   --bgImage: url("~assets/intros/pbooth_m.jpg");
//   @include tablet {
//     --bgImage: url("~assets/intros/pbooth.jpg");
//   }
// }



</style>
