<template>
  <svg
    class="hef-logo"
    xmlns="http://www.w3.org/2000/svg"
    width="500"
    height="137"
    viewBox="0 0 500 137.4"
  >
    <style>
      .a {
        fill: #fff;
      }
    </style>
    <path
      d="M166.1 58.4V32.5h1.8v12.3h16.4V32.5h1.8v26h-1.8V46.7h-16.4v11.7H166.1z"
      class="a"
    />
    <path
      d="M197 58.4l11.7-26h2.2l11.7 26h-2.2l-2.8-6.5h-15.5l-2.8 6.5H197zM202.9 50h13.9l-6.8-15.7L202.9 50z"
      class="a"
    />
    <path
      d="M232.9 58.4V32.5h11.5c1.2 0 2.5 0.4 3.7 0.6 1.2 0.6 1.8 1.2 2.8 1.8 0.6 1 1.2 1.6 1.6 2.8 0.4 1 0.6 2.2 0.6 3.1 0 0.9-0.3 2.2-0.6 3.1 -0.3 1-1 1.8-1.6 2.8 -0.6 1-1.6 1.6-2.8 1.8 -1.2 0.6-2.4 0.6-3.7 0.6h-9.3v8.9h-2.2V58.4zM234.7 47.6h9.3c1 0 1.8-0.3 2.8-0.6 1-0.3 1.6-1 2.2-1.6 0.6-0.6 1-1.2 1.2-2.2 0.4-0.6 0.4-1.6 0.4-2.2 0-0.6 0-1.6-0.4-2.4 -0.3-0.9-0.6-1.6-1.2-2.2 -0.6-0.6-1.2-1.2-2.2-1.6 -1-0.3-1.8-0.6-2.8-0.6h-9.3V47.6z"
      class="a"
    />
    <path
      d="M264.3 58.4V32.5h11.5c1.2 0 2.4 0.4 3.7 0.6 1.2 0.6 1.8 1.2 2.8 1.8 0.6 1 1.2 1.6 1.6 2.8 0.4 1 0.6 2.2 0.6 3.1 0 0.9-0.3 2.2-0.6 3.1 -0.4 1-1 1.8-1.6 2.8 -0.6 1-1.6 1.6-2.8 1.8 -1.2 0.6-2.4 0.6-3.7 0.6h-9.3v8.9h-2.2V58.4zM266.2 47.6h9.3c1 0 1.8-0.3 2.8-0.6 1-0.3 1.6-1 2.2-1.6 0.6-0.6 1-1.2 1.2-2.2 0.4-1 0.4-1.6 0.4-2.4 0-0.9 0-1.6-0.4-2.4 -0.3-0.9-0.6-1.6-1.2-2.2 -0.6-0.6-1.2-1.2-2.2-1.6 -1-0.3-1.8-0.6-2.8-0.6h-9.3V47.6z"
      class="a"
    />
    <path d="M295.8 58.4V32.5h1.8v26H295.8z" class="a" />
    <path d="M311 58.4V32.5h1.8v24.1h14.5v1.8H311z" class="a" />
    <path
      d="M336.3 32.5L336.3 32.5h2.4l8.7 13.6 8.7-13.6h2.4l0 0L348.4 47.9v10.2h-1.8V47.9L336.3 32.5z"
      class="a"
    />
    <path
      d="M387.3 58.4V32.5h17.9v1.8h-15.7v9.9h15.1v1.8h-15.1v10.2h16.4v1.8h-18.5V58.4z"
      class="a"
    />
    <path
      d="M415.4 32.5h2.2l9.5 23.8 9.5-23.8h2.2l-10.5 26h-2.2L415.4 32.5z"
      class="a"
    />
    <path
      d="M449.7 58.4V32.5h17.9v1.8h-15.7v9.9h15.1v1.8h-15.1v10.2h16.4v1.8h-18.5V58.4z"
      class="a"
    />
    <path
      d="M479.7 58.4V32.5h11.5c1.2 0 2.4 0.4 3.7 0.6 1.2 0.4 1.8 1 2.8 1.8 0.6 0.6 1.2 1.6 1.6 2.4 0.4 0.9 0.6 1.8 0.6 3.1l0 0c0 1-0.3 1.8-0.6 2.8 -0.3 1-1 1.8-1.6 2.4 -0.6 0.6-1.6 1.2-2.8 1.8 -1.2 0.4-2.4 0.6-3.7 0.6l9.3 9.9h-2.8l-8.9-9.9h-7.1v9.9h-1.8v0.4H479.7zM481.5 46.7h9.3c2.2 0 3.7-0.6 5-1.6 1-1.2 1.6-2.4 1.6-4.6l0 0c0-0.6 0-1.6-0.4-2.2 -0.3-0.6-0.6-1.2-1.2-1.8 -0.6-0.6-1.2-1-1.8-1.6 -1-0.3-1.8-0.6-2.8-0.6h-9.3v12.3h-0.3V46.7z"
      class="a"
    />
    <path
      d="M164.3 1.8l4 3.7c-5 9.3-13.6 13.9-25.6 13.9 -1.6 0-3.7 0-6.5-0.4 -7.1 8.3-11.7 21-13.6 37.7 -0.3 3.4-0.6 6.8-0.6 10.2l24.1-1 -6.5 8h-17.9c-1.8 24.8-13.6 42.9-35.2 53.8 -12.3 6.5-26.6 9.5-42.6 9.5 -9.9 0-18.5-1.8-26.2-5.9 -4-1.8-7.1-4.6-9.5-7.7 -2.4-3.4-3.7-7.4-3.7-12.1 0-4.6 1-8.7 2.8-12.3 1.8-3.7 4.3-6.5 7.1-8.3 2.8-1.8 6.5-3.7 10.8-4.6 6.8-1.8 15.7-2.8 26.2-2.8 -7.1-9.3-10.5-18.5-10.5-28.4 0-7.1 1.8-14.2 5.2-21s7.8-12.7 13.6-17.6c5.9-4.9 12.6-9 20.4-12.1C88 1.6 95.4 0 102.2 0c6.8 0 15.1 1.2 25.6 4 10.2 2.8 17.9 4 22.6 4C155.6 8 159.9 5.9 164.3 1.8zM17.5 102c-1.2 2.8-2.2 6.2-2.2 9.5 0 3.7 1 6.5 3.1 9.3 1.8 2.4 4.6 4.6 7.7 5.9 6.2 2.8 12.7 4 20.1 4s14.2-1 21-3.1c6.5-2.2 12.3-5.2 17.6-9.9 10.8-9.3 17.6-24.1 20.4-44.5h-19.7l3.7-5.9 16.7-1c1-7.7 2.4-14.2 4.6-19.5 2.2-5.2 4-9.3 5.6-12.1 1.6-2.8 3.1-5.2 4.6-7.4 2.4-3.7 5-6.8 7.7-10.2 -9.5-4-18.5-5.9-26.9-5.9 -8.7 0-15.7 1-21.6 2.8 -5.9 1.8-11.1 4.3-16.1 7.7 -4.6 3.4-8.7 8-11.1 13.6 -2.8 5.8-4 12.2-4 19.3 0 7.1 1 12.3 3.1 16.4 1 1.6 1.6 2.8 2.2 4 0.6 1.2 1.6 2.4 3.1 3.7 1.6 1.2 2.4 2.4 3.4 3.4 1 1 2.2 1.8 4 3.4 2.4 1.8 5 3.4 6.8 4.6 2.2 1.2 3.1 2.2 3.1 2.2l0.4 0.4 -2.8 3.4c-10.2-5-18.8-7.4-26-7.4C31.1 89 21.5 93.3 17.5 102z"
      class="a"
    />
    <path
      d="M139.2 114.9c0.4 7.1 5.2 10.5 14.2 10.5 3.4 0 6.8-1 10.5-2.8 3.7-1.8 6.5-4.3 8.9-6.8l4 2.5c-5.2 8.7-13.3 13.9-24.4 15.7 -2.4 0.4-5 0.6-7.1 0.6 -6.8 0-12.1-2.2-16.7-6.5 -4.3-4.3-6.8-9.9-6.8-16.1 0-6.5 1.8-12.3 5.9-17.6 4-5.2 8.7-9.5 14.5-12.7 5.9-3.1 11.5-4.3 17.3-4.3 5.6 0 10.5 1.2 14.9 4 4 2.5 6.2 6.2 6.5 10.5 0 4.3-1.2 8-3.7 11.5 -2.8 3.1-5.9 5.6-10.2 7.1 -8 3.4-16.1 5-23.8 5L139.2 114.9zM138.6 110c6.8-0.4 12.3-1.2 16.4-3.4 4-1.8 7.1-4 8.7-6.8 1.6-2.4 2.5-5.2 2.5-7.7 0-2.4-0.6-4.6-2.2-6.2 -1.6-1.2-2.8-1.8-4.6-1.8 -4 0-7.4 1.2-10.8 4 -3.4 2.8-5.9 6.2-7.4 9.9C139.5 102 138.6 106 138.6 110z"
      class="a"
    />
    <path
      d="M238.1 89.6c-2.4 0-5.2 1.6-8.3 4.6 -3.1 3.1-6.2 6.5-9.3 10.8 -5 6.8-9.5 14.9-14.9 23.8l-2.4 4.3h-12.9l2.8-8.7c5.2-16.1 8-25.6 8-28.4 0-3.1-0.6-4.6-1.6-4.6 -1.8 0-4 2.2-6.5 6.5 -0.6 1-1 1.8-1.2 2.5 -0.3 0.6-1 1.2-1.2 2.2s-0.6 1.2-1 1.6l-6.2-3.7c5-7.7 9.3-13.6 13.3-17.3 4-3.7 8-5.6 12.3-5.6 1.8 0 3.7 1 5 2.5 1.2 1.6 2.2 3.4 2.2 5.6 0 2.2 0 4-0.3 5.9 -0.3 1.6-0.6 3.4-1 4.6 -0.3 1.6-0.6 3.1-1.2 5 -0.6 1.8-1 3.4-1.2 4.6 -0.3 1-1 2.4-1.2 4.3 -0.6 1.8-1 2.8-1 3.1 1.2-2.2 3.1-5.6 5.6-9.9 2.8-4.3 4.3-7.1 5.2-8 1-1.2 1.8-2.4 3.4-4.3 1.6-1.8 2.8-3.4 3.7-4.3 1-1 2.4-2.2 4-3.4 1.6-1.2 3.1-2.4 4.3-3.1 3.4-1.6 6.8-2.4 9.9-2.4 3.1 0 5.9 1 7.7 2.8 1.8 1.8 2.8 4 2.8 6.5 0 2.5-1 4.6-2.4 6.5 -1.6 1.8-3.4 2.8-5.6 2.8 -2.2 0-3.7-0.4-5-1 -1.2-0.6-1.8-1.6-2.4-2.2C240.2 90.5 239 89.6 238.1 89.6z"
      class="a"
    />
    <path
      d="M308.9 89.6c-2.4 0-5.2 1.6-8.3 4.6 -3.1 3.1-6.2 6.5-9.3 10.8 -5 6.8-9.5 14.9-14.9 23.8l-2.4 4.3h-12.9l2.8-8.7c5.2-16.1 8-25.6 8-28.4 0-3.1-0.6-4.6-1.6-4.6 -1.8 0-4 2.2-6.5 6.5 -0.6 1-1 1.8-1.2 2.5 -0.4 0.6-1 1.2-1.2 2.2 -0.3 1-0.6 1.2-1 1.6l-6.2-3.7c5-7.7 9.3-13.6 13.3-17.3 4-3.7 8-5.6 12.3-5.6 1.8 0 3.7 1 5 2.4 1.2 1.6 2.2 3.4 2.2 5.6 0 2.2 0 4-0.4 5.9 -0.3 1.6-0.6 3.4-1 4.6 -0.3 1.6-0.6 3.1-1.2 5 -0.6 1.8-1 3.4-1.2 4.6 -0.4 1-1 2.4-1.2 4.3 -0.6 1.8-1 2.8-1 3.1 1.2-2.2 3.1-5.6 5.6-9.9 2.8-4.3 4.3-7.1 5.2-8 1-1.2 1.8-2.4 3.4-4.3 1.6-1.8 2.8-3.4 3.7-4.3 1-1 2.4-2.2 4-3.4 1.6-1.2 3.1-2.4 4.3-3.1 3.4-1.6 6.8-2.4 9.9-2.4 3.1 0 5.9 1 7.7 2.8 1.8 1.8 2.8 4 2.8 6.5 0 2.5-1 4.6-2.4 6.5 -1.6 1.8-3.4 2.8-5.6 2.8s-3.7-0.4-5-1c-1.2-0.6-1.8-1.6-2.4-2.2C310.7 90.5 309.7 89.6 308.9 89.6z"
      class="a"
    />
    <path
      d="M341.8 114.9c0.3 7.1 5.2 10.5 14.2 10.5 3.4 0 6.8-1 10.5-2.8 3.7-1.8 6.5-4.3 8.9-6.8l4 2.5c-5.2 8.7-13.3 13.9-24.4 15.7 -2.5 0.4-5 0.6-7.1 0.6 -6.8 0-12.1-2.2-16.7-6.5 -4.3-4.3-6.8-9.9-6.8-16.1 0-6.5 1.8-12.3 5.9-17.6 4-5.2 8.7-9.5 14.5-12.7 5.9-3.1 11.5-4.3 17.3-4.3 5.6 0 10.5 1.2 14.9 4 4 2.5 6.2 6.2 6.5 10.5 0 4.3-1.2 8-3.7 11.5 -2.8 3.1-5.9 5.6-10.2 7.1 -8 3.4-16.1 5-23.8 5L341.8 114.9zM341.2 110c6.8-0.4 12.3-1.2 16.4-3.4 4-1.8 7.1-4 8.7-6.8 1.6-2.4 2.5-5.2 2.5-7.7 0-2.4-0.6-4.6-2.2-6.2 -1.6-1.2-2.8-1.8-4.6-1.8 -4 0-7.4 1.2-10.8 4 -3.4 2.8-5.9 6.2-7.4 9.9C342.2 102 341.2 106 341.2 110z"
      class="a"
    />
    <path
      d="M440.8 89.6c-2.4 0-5.2 1.6-8.3 4.6 -3.1 3.1-6.2 6.5-9.3 10.8 -5 6.8-9.5 14.9-14.9 23.8l-2.4 4.3h-12.9l2.8-8.7c5.2-16.1 8-25.6 8-28.4 0-3.1-0.6-4.6-1.6-4.6 -1.8 0-4 2.2-6.5 6.5 -0.6 1-1 1.8-1.2 2.5 -0.4 0.6-1 1.2-1.2 2.2 -0.6 1-0.6 1.2-1 1.6l-6.2-3.7c5-7.7 9.3-13.6 13.3-17.3 4-3.7 8-5.6 12.3-5.6 1.8 0 3.7 1 5 2.4 1.2 1.6 2.2 3.4 2.2 5.6 0 2.2 0 4-0.4 5.9 -0.3 1.6-0.6 3.4-1 4.6 -0.3 1.6-0.6 3.1-1.2 5 -0.6 1.8-1 3.4-1.2 4.6 -0.4 1-1 2.4-1.2 4.3 -0.6 1.8-1 2.8-1 3.1 1.2-2.2 3.1-5.6 5.6-9.9 2.8-4.3 4.3-7.1 5.3-8 1-1.2 1.8-2.4 3.4-4.3 1.6-1.8 2.8-3.4 3.7-4.3 1-1 2.4-2.2 4-3.4 1.6-1.2 3.1-2.4 4.3-3.1 3.4-1.6 6.8-2.4 9.9-2.4s5.9 1 7.7 2.8c1.8 1.8 2.8 4 2.8 6.5 0 2.5-1 4.6-2.4 6.5 -1.6 1.8-3.4 2.8-5.6 2.8s-3.7-0.4-5-1c-1.2-0.6-1.8-1.6-2.4-2.2C442.9 90.5 441.6 89.6 440.8 89.6z"
      class="a"
    />
  </svg>
</template>
