<template>
  <div class="section-subtitle">
    <text-spread
      ><strong v-if="lead" class="section-subtitle__lead">{{
        lead
      }}</strong></text-spread
    >
    <div class="section-subtitle__text"><slot /></div>
  </div>
</template>

<script>
import TextSpread from "@/components/general/TextSpread.vue";
export default {
  components: {
    TextSpread
  },
  props: {
    lead: {
      type: String
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/_vars.scss";
@import "~/assets/scss/_mixins.scss";

.section-subtitle {
  @include flexCenterCol;
}
.section-subtitle__text {
  font-size: 1.6rem;
  margin-top: -1rem;
}
</style>
