<template>
  <h3 class="section-header"><slot /></h3>
</template>

<style lang="scss" scoped>
@import "~/assets/scss/_vars.scss";
@import "~/assets/scss/_mixins.scss";
.section-header {
  border-left: 1rem solid var(--primary);
  padding-left: 1rem;
  position: relative;
  z-index: 4;
  @include tablet {
    margin: 0;
    text-shadow: 0 0 13px rgba(0,0,0,0.2);
  }
}
</style>
