<template>
  <section class="hef-intro">
    <section-title>{{ title }}</section-title>
    <section-subtitle :lead="lead">{{ subtitle }}</section-subtitle>
  </section>
</template>

<script>
import SectionTitle from "@/components/general/SectionTitle.vue";
import SectionSubtitle from "@/components/general/SectionSubtitle.vue";
export default {
  components: {
    SectionSubtitle,
    SectionTitle
  },
  props: {
    title: {
      type: String,
      required: true
    },
    subtitle: {
      type: String,
      required: true
    },
    lead: {
      type: String
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/_vars.scss";
@import "~/assets/scss/_mixins.scss";
.hef-intro {
  @include flexCenterCol;
  background-color: var(--light1);
  background-size: cover;
  background-image: var(--bgImage);
  background-position: center center;
  background-repeat: no-repeat;
  
  padding: var(--basePadding);
  @include tablet {
    height: 100% !important;
    min-height: 100vh;
    background-attachment: fixed;
  }
}
</style>
