<template>
  <h2 class="section-title">
    <span class="section-title__value"><slot /></span>
  </h2>
</template>

<style lang="scss" scoped>
.section-title {
  display: flex;
  justify-self: center;
  line-height: 1;
  color: var(--primary);
  text-align: center;
}
.section-title__value {
  padding: var(--basePadding);
  border-top: 1px solid var(--light3);
  border-bottom: 1px solid var(--light3);
}
</style>
