<template>
  <div class="gallery" :class="`gallery--${galleryType}`">
    <figure
      class="gallery__img-wrap"
      v-for="(image, index) in images"
      :key="index"
    >
      <img :src="image.pathLong" class="gallery__img" alt="cool" />
      <!-- <img :data-src="image.pathLong" class="gallery__img lazy" alt="cool" /> -->
    </figure>
  </div>
</template>

<script>
// import { getImagesInDir } from "@/mixins/utils.js";
// import { utilObserver } from "~/mixins/utils.js";
export default {
  // mixins: [utilObserver],
  // mixins: [getImagesInDir],
  data() {
    return {
      images: []
    };
  },
  created() {
    if (this.galleryType == 2) {
      this.importAll(
        require.context("~/assets/behind_chris/gallery/", true, /\.jpg$/)
      );
    } else if (this.galleryType == 1) {
      this.importAll(
        require.context("~/assets/behind_nes/gallery/", true, /\.jpg$/)
      );
    }
  },
  mounted() {
    // this.runObserver(".lazy", [0, 0.25]);
  },
  methods: {
    importAll(r) {
      r.keys().forEach(key =>
        this.images.push({ pathLong: r(key), pathShort: key })
      );
    }
  },
  props: {
    directory: {
      type: String
      // required: true
    },
    galleryType: {
      type: [Number, String]
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/_vars.scss";
@import "~/assets/scss/_mixins.scss";
.gallery {
  position: relative;
  z-index: 10;
  width: 90vw;
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5rem auto auto 5rem;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  grid-template-areas:
    "tall1 .     ."
    "tall1 wide1 wide1"
    "wide2 wide2 tall2"
    "more1 more2 tall2"
    "more1 more2 .";
}
.gallery__img-wrap:nth-child(2) {
  grid-area: wide1;
}
.gallery__img-wrap:nth-child(3) {
  grid-area: wide2;
}
.gallery__img-wrap:nth-child(1) {
  grid-area: tall1;
}
.gallery__img-wrap:nth-child(4) {
  grid-area: tall2;
}
.gallery__img-wrap:nth-child(5) {
  grid-area: more1;
}
.gallery__img-wrap:nth-child(6) {
  grid-area: more2;
}
.gallery__img-wrap {
  object-fit: cover;
  overflow: hidden;
}
.gallery__img {
  object-fit: cover;
  min-height: 100%;
  // opacity: 0;
  transition: 0.5s ease;
}
// .gallery__img.loaded {
//   opacity: 1;
// }
@include tablet {
  .gallery {
    margin-top: -6rem;
  }
}
</style>
