<template>
  <section class="section-hero" :class="`section-hero--${desktopText}`">
    <section-hero-image
      class="section-hero__image"
      :heroImage="heroImage"
      :alt="heroHeading"
    />
    <section-header class="section-hero__header">{{
      heroHeading
    }}</section-header>
    <section-text class="section-hero__text"><slot /></section-text>
  </section>
</template>

<script>
import SectionHeader from "@/components/general/SectionHeader.vue";
import SectionHeroImage from "@/components/general/SectionHeroImage.vue";
import SectionText from "@/components/general/SectionText.vue";
export default {
  components: {
    SectionText,
    SectionHeroImage,
    SectionHeader
  },
  props: {
    heroImage: {
      type: String
    },
    heroHeading: {
      type: String,
      required: true
    },
    desktopText: {
      type: String
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/_vars.scss";
@import "~/assets/scss/_mixins.scss";

@include tablet {
  .section-hero {
    display: grid;
    grid-template-rows: 1fr auto auto 1fr;
    grid-template-columns: 1fr;
    position: sticky;
    top: 0;
  }
  .section-hero--right {
    text-align: right;
  }
  .section-hero__image {
    grid-row: 1 / span 4;
    grid-column: 1/ -1;
  }
  .section-hero__header,
  .section-hero__text {
    padding-left: var(--basePadding3x);
    grid-column: 1/ -1;
    position: relative;
    color: var(--white);
  }
  .section-hero__header {
    grid-row: 2 / span 1;
  }
  .section-hero__text {
    grid-row: 3 / span 1;
  }
  .section-hero--right .section-hero__header,
  .section-hero--right .section-hero__text {
    padding: 0 var(--basePadding3x) 0 0;
    grid-column: 1/ -1;
    position: relative;
    color: var(--white);
    justify-self: end;
  }
}
</style>
