<template>
  <figure class="section-hero-img-wrap">
    <img class="section-hero-img " :src="imageUrl" :alt="alt" />
  </figure>
</template>

<script>
export default {
  props: {
    heroImage: {
      type: String,
      required: true
    },
    alt: {
      type: String
    }
  },
  computed: {
    imageUrl() {
      return require(`~/assets/${this.heroImage}`);
    }
  },
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/_vars.scss";
@import "~/assets/scss/_mixins.scss";
.section-hero-img-wrap {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    display: block;
    background: var(--primary);
    padding-top: calc((720 / 1280) * 100%);
    padding-top: calc((720 / 1200) * 100%);
    z-index: 1;
  }
}
.section-hero-img {
  position: absolute;
  bottom:0;
  left: 0;
  width: 100%;
  transition: 0.3s ease all;
  border-radius: 0 0 0 1.5rem;
  object-fit: cover;
  min-height: 100%;
  @include tablet {
    border-radius: 0;
  }
}

</style>
