<template>
  <div class="photo-gal" :class="`photo-gal--${type}`">
    <figure
      class="photo-gal__item"
      :class="`photo-gal__item--${type}`"
      v-for="(image, index) in images"
      :key="index"
    >
      <img
        :src="require(`~/assets/${directory}${image}`)"
        :alt="'gallery image ' + (index + 1)"
        class="photo-gal__img"
        :class="`photo-gal__img--${type}`"
      />
    </figure>
  </div>
</template>

<script>
export default {
  props: {
    directory: {
      type: String,
      required: true
    },
    images: {
      type: Array,
      required: true
    },
    type: {
      type: [String, Number]
    }
  }
};
</script>