<template>
  <div class="section-text" :class="`section-text--${desktopText}`">
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    desktopText: {
      type: String
    }
  }
};
</script>

<style lang="scss" scoped>
@import "~/assets/scss/_vars.scss";
@import "~/assets/scss/_mixins.scss";
.section-text {
  text-shadow: 1px 1px 1px 1px var(--white);
  // font-size: 1.8rem;
  padding: 0 var(--basePadding);
  margin: 0 0 var(--basePadding);
  width: 100%;
  max-width: 600px;
  @include tablet {
    text-shadow: 0 0 8px rgba(0,0,0,0.8);
  }
}
</style>
