<template>
  <div class="text-spread" :class="`text-spread--${color}`"><slot /></div>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: "dark",
      validator: function(value) {
        return ["white", "dark", "primary"].indexOf(value) !== -1;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.text-spread {
  letter-spacing: 0.25em;
  font-size: 2rem;
  padding: var(--basePadding);
  text-transform: uppercase;
  text-align: center;
}
.text-spread--white {
  color: var(--white);
}
.text-spread--primary {
  color: var(--primary);
}
</style>
