<template>
  <div class="video">
    <iframe class="video__iframe lazy" :data-src="`https://www.youtube.com/embed/${videoID}`" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>
  </div>
</template>

<script>
import {utilObserver} from '@/mixins/utils.js';
  export default {
    mixins: [utilObserver],
    mounted() {
      this.runObserver(".lazy", [0, 0.25]);
    },
    props: {
      videoID: {
        type: String,
        required: true
      }
    }
  }
</script>

<style lang="scss" scoped>
  .video {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    background: var(--primary);
    &::before {
      content:'';
      display: block;
      padding-top: calc((9/21) * 100%);
    }
  }
  .video__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>